@import "../../../scss/index.scss";

.registre-form{
    background-color: aliceblue;
    padding: 47px 50px;
    border-radius: 10px;
    
}

.input{
    width: 150%;
}

.s {
    width: 100%;    
    text-align: center;
    
  }

.buttons{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(123, 139, 138);
}