@import "../../scss/index.scss";

.menu-top{

    display: flex;
    botton{
        color: $font-grey-dark;

        &:hover{
            color: $primary_color-hover;
        }

        &:focus,
        &:active{
            color: $primary-color;
        }

    }

    &__left {
        &-logo{
            width: 70px;
            padding: 0 10px;
        }
    }

    &__right {
        position: absoluto;
        right: 0;
    }
}