@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  button {
    color: #05cddb;

    &:hover {
      color: $primary_color-hover;
    }
    &:focus,
    &:active {
      color: #05cddb;
    }
  }

  &__left {
    &-logo {
      width: 70px;
      padding: 0 10px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
